.count{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 5rem;
}
.grid{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 20px;
}
.grids{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
}
.card{
    width: 100%;
    height: 30rem;
    padding: 1rem;
}
.card img{
    width:80%;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    height: 30rem;
    margin: 0 auto;
}
.center{
    margin: 0 auto;
   text-align: center;
}
/* .one{
    position: relative;
}
.two{
    position: absolute;
} */
.cards{
    width: 100%;
    height: 13rem;
    border-top: 1px solid gainsboro;
    padding: 1rem;
}
.cards h4{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
.cards h1{
    font-size: 3rem;
    font-weight: bold;
}
.purple{
    color: #49AAAF;
}
.magenta{
    color:#DF1995;
}
.green{
    color:#98BE24;
}
.gold{
    color: #FBAE30;
}